.ui-btn{
	margin: 0px;
	font-size: 13px;
	border-style: none;
}

.ui-btn-inner{
	padding-top: 30px;
}

.movie-nav {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius:0px;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	width: auto;
	height:35px;
	margin: 0px;
}


.movie-nav .movie-nav-tab {
  margin-top:  5px;
  line-height: 18px;
  font-size:   14px;
  height: 18px;
}

.movie-nav .movie-nav-tab.is-active {
  margin-top:  0px;
  line-height: 20px;
  font-size:   14px;
  height: 20px;
}

.movie-nav .movie-nav-tab.all {
  background: red;
}

.movie-nav.is-all {
  border-bottom: red 2px solid;
}

.movie-nav .movie-nav-tab.youtube {
  background: orange;
}

.movie-nav.is-youtube {
  border-bottom: rgb(4, 124, 218) 2px solid;
}

.movie-nav.is-niconico {
  border-bottom: orange 2px solid;
}


.movie-nav .movie-nav-tab.fc2 {
  background: blue;
}

.movie-nav.is-fc2 {
  border-bottom: #C500E0 2px solid;
}

.movie-nav .movie-nav-tab.viemo {
  background: green;
}

.movie-nav.is-vimeo {
  border-bottom: rgb(0, 190, 0) 2px solid;
}




#all{
	border-bottom-left-radius:0px;
	border-top-right-radius: 5px;
    background: -moz-linear-gradient(top,#F00 0%,#E90000);
   	background: -webkit-gradient(linear, left top, left bottom, from(#F00), to(#E90000));
    color:#FFF;
    font-weight: normal;
}

#youtube{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
    background: -moz-linear-gradient(top,#0085FF 0%,rgb(4, 124, 218));
    background: -webkit-gradient(linear, left top, left bottom, from(#0085FF), to(rgb(4, 124, 218)));
    color:#FFF;
	font-weight: normal;
}

#niconico{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
    background: -moz-linear-gradient(top,#FC0 0%,orange);
    background: -webkit-gradient(linear, left top, left bottom, from(#FC0), to(orange));
    color:#FFF;
    font-weight: normal;
}

#vimeo{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
    background: -moz-linear-gradient(top,#00E71C 0%,rgb(0, 190, 0));
    background: -webkit-gradient(linear, left top, left bottom, from(#00E71C), to(rgb(0, 190, 0)));
    color:#FFF;
	font-weight: normal;
}

#fc2{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 0px;
    background: -moz-linear-gradient(top,#FF00F5 0%,#C500E0);
    background: -webkit-gradient(linear, left top, left bottom, from(#FF00F5), to(#C500E0));
    color:#FFF;
    font-weight: normal;
}

ul{
	width:100%;
	margin: 0px;
	padding: 0px;
}

li{
	display: inline;
}
body{
	text-transform: none;
}

.ui-page-theme-a{
	background: #333;
}

.scroll-nav .ui-header .ui-bar-inherit{
	background: #333;
}