#youtube {
	background: #e62c22 !important;
}

#vimeo {
	background: #4bf !important;
}

#fc2 {
	background: red !important;
}


.ui-navbar { 
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
}

.ui-navbar a {
	margin-left: 0px;
	margin-right: 0px;
}

.nav-button {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}